[Desktop Entry]
# Name=gtkwave
MimeType=application/vnd.gtkwave-lxt
Exec=gtkwave
Type=Application
Categories=Development
StartupNotify=true
# Icon=gtkwave_256x256x32.png

